*.o
*.swn
*.swo
*.swp
*~
.DS_Store
*.so
*.dylib
*.log
*.log.*

# Misc
.idea
.pkl_*
.project
.pydevproject
.vscode

**/venv/
**/__pycache__/
**/*.egg-info/
build/
dist/
.coverage
*.env
*.env.build

site/
secrets/
